/* Body  new site with sakai colors */
BODY {
width:100%;

     margin: 10px 50px;
	background-color : #738BAD ;
	color : #000000;
		      border:1px solid #666;

	}
	#container{
	width:100%;

	border: 1px solid #eee;
	color:#000;
	}
	.mainHeader{
width:100%;


        background: url(../images/slateRipple4-banner.jpg) no-repeat;
}



	
td,tr,p,div {
padding:0px;
 	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
        line-height: 15px;
	}
	
	

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #ffae00;
	
	border-left: outset 2px #ff9900;
	border-right: outset 2px #808080;
	border-top: outset 2px #ff9900;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
}
.offtab {
	background-color : #e5e5e5;
	border-left: outset 2px #E0E0E0;
	border-right: outset 2px #E0E0E0;
	border-top: outset 2px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: normal;
}
.tabpadding {
}
.tabheading {
	background-color: #ffae00;
	text-align: left;
}


.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}

h4 {
	color: #333;
 font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
 font-weight: bold;
	}
h5 {
	color: #333;
 font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
 font-weight: bold;
	}
h6 {
	color: #333; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; font-weight: bold;
padding:0px;
margin:0px;
	}

/* Links */
a:link, a:visited {
	font-size: 12px;
 color: #336699;
 text-decoration: none;
	font-family:   Arial, Helvetica, sans-serif;
	}
a:hover {
	color: #660000;
	text-decoration: none;
	}
	
	
/* For content item titles that are hyperlink instead of Read On */
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #4F66A6;
	text-align:left;
	}
	
a.contentpagetitle:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:left;
	color: #FF7A00;
	text-decoration: underline;
	font-weight: bold;
	}
	
/* Horizontal Line */
hr {
	background: #C0C0C0;
 height:2px;
 border: 1px inset;
	}
	
hr.separator {
	background: #C0C0C0;
	height: 1px;
	width: 75px;
	border: 0px;
}
/* --Default Class Settings-- */
a.mainmenu:link, a.mainmenu:visited, a.mainlevel:link, a.mainlevel:visited {
	margin: 0px;
	color: #660000;
 font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif;
	font-weight: normal;
	padding: 2px 4px;
	}
a.mainmenu:hover, a.mainlevel:hover {
	color: #FF7A00;
 text-decoration: underline;
	}
a.sublevel:hover {
	color: #FF7A00;
 text-decoration: underline;
	}
a.sublevel:link, a.sublevel:visited {
	color: #333333;
 font-family: Arial, Helvetica, serif;
	font-weight: normal;
}
/* Content - Sections & Categories */
.contentpaneopen {
	border-bottom : 0px ridge #DCDCDC;
 padding: 10px 0px 0px 0px;
 width:100%
	}
.contentheading {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #333333;
	text-align:left;
padding-top: 10px;
padding-bottom: 0px;
width:100%;
border-top: 1px solid #cccc66;
	}
.siteMapHeading, .siteMapHeading a{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
 	color: #336699;
	text-align:left;
padding: 5px 0px 2px 0px;
	}
.siteMapSub .siteMapSub a{














	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
 	color: #336699;
	text-align:left;
padding: 2px 5px;
	}
.contentpagetitle {

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #333333;
	text-align:left;
	}
table.contenttoc {

        color: #333300;
		background-color: #e0e0e0;
        }
table.contenttoc td {

        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-weight: normal;
        text-align:left;
}
a.toclink:hover, a.toclink:visited, a.toclink:link {

	font-size: 9px;
	}
.contentdescription {

	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
	text-align: left;
padding: 0px 0px;
border: 0px solid #ccc;
     color: #000;
	}
/* Links */
a.blogsection:link, a.blogsection:visited {

	color: Black;
 text-decoration: none;
 font-weight: normal;
	font-family:  Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	}
a.blogsection:hover {

	color: #FF7A00;
	text-decoration: underline;
	}
a.weblinks:link, a.weblinks:visited {

	color: #6C6C6C;
 text-decoration: none;
 font-weight: normal;
	font-family:  Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	}
a.weblinks:hover {

	color: #FF7A00;
	text-decoration: underline;
	}
a.readon:link, a.readon:visited {

	color: #006699;
 text-decoration: none;
 font-weight: normal;
	font-family:  Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
a.readon:hover {

	color: #FF7A00;
	text-decoration: underline;
	}
table.moduletable, table.moduletableLatestNews, table.moduletableListMenu{

	margin: 0px 0px 10px 0px;
	width: 100%;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-top:  0px solid #000000;
	border-bottom: 1px solid #DFDFDF;
border: 0px solid #000;
}


table.moduletableLatestNews{
}

table.moduletable th, table.moduletableLatestNews th, table.moduletableListMenu th  {

	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
         text-transform: uppercase;
	padding: 2px 5px;
	color: #eee;
	text-align: left;
	height: 14px;
	line-height: 14px;
	white-space: nowrap;
	width:100%;
	
	background-color: #4E6483;
				border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-indent: 5px;
	}
	
	table.moduletableListMenu th {
	
	background: #fff;
	font-family: Arial, Helvetica, sans-serif; 
	border: none;
	font-size: 12px;
	text-transform: none;
	color:#000;
	
	}
	
	table.moduletableListMenu a.mainlevel{
color:  #336699;
	}
	
		table.moduletableListMenu a:hover{
color:  #660000;
	}
	


	table.moduletableLatestNews th{
color:#000;
background:#fff;
border-top:0px solid #eee;
border-bottom:1px solid #4E6483;
padding:0px 10px;

}


table.topBoxes{
border:0px solid #ccc;
padding:0px;
margin:0px;

}

.topBoxes{
vertical-align:top;
padding:0px 5px;

border:1px solid #ccc;


}


	table.moduletable td, table.moduletableLatestNews td {

margin:0px;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 2px 3px 2px;
	font-weight: normal;
        	}
	table.moduletableotherSections{

	margin: 0px 0px 0px 0px;
	width: 100%;
border: 0px solid #000;
	border-bottom: 1px dotted #DFDFDF;
}

 table.moduletableLatestNews tr td {
 			border: 0px solid #eee;


 }



.searchBar1{
border: 1px solid #ccc;
font-size:10px;
background:#e6e6e6;

}

#searchbox{
width:120px ;
background:#e6e6e6; 
margin:0;
padding:0px 5px 0px 5px; 
font-size: 10px; 
border:1px solid #cccccc;
border-bottom:1px solid #eee;
text-align:left;
color:#000;

}
#searchbox form{
padding:0; margin:0; 

}



table.moduletableotherSections th{

background: #cccc66;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
         text-transform: uppercase;
	padding: 10px 0px 0px 0px;
	color: #000;
	text-align: left;
	height: 14px;
	line-height: 14px;
	white-space: nowrap;
	width:100%;
	
	text-indent: 5px;
	}
	table.moduletableotherSections td {

margin:0px;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 2px 3px 2px;
	font-weight: normal;
background: #cccc66;
        	}

table.moduletableotherSections a:link, table.moduletableotherSections a:visited {
color: #660000;
background: #cccc66;
}
table.moduletableotherSections a:hover{
color: #336699;
background: #cccc66;
}

table.moduletableSEPPlist {

padding: 0px;

}


table.moduletableLatestNews td ul{
list-style-type: square;
list-style-position: outside;
padding:5px;
margin:0px 15px;
}

table.moduletableSEPPlist{

padding:3px 5px;
margin-top: 10px;
}
table.moduletableSEPPlist td{

padding: 0px 7px;
margin: 0px;
}
table.moduletableSEPPlist p{

font-size: 92%;
padding: 3px 0px;
margin: 2px 0px;
}
table.moduletableSEPPlist ul{
margin-left: 8px;
margin-right: 0px;
padding: 3px 0px;


}

table.moduletableSEPPlist li{
margin-left: 0px;
margin-right: 0px;
padding: 3px 0px;
list-style: outside;
	list-style-image: none;


}
table.moduletableconf th {

background: #cccc66;
}

table.moduletableBox{
border: 1px solid #cccc66;
padding: 10px;
}
.componentheading {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #333333;
	text-align:left;
	border-bottom: 1px solid #333;
	}
.button {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: #8C8C8C;
	border-style: solid;
	border-top-width: 1px;
 border-right-width: 1px;
 border-bottom-width: 1px;
 border-left-width: 1px;
	background: #EBEBEB;
	height: 18px;
	}
.inputbox {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	background: #FFFFFF;
	border: 1px solid;
padding-left: 5px;
	}
/** category text format and links **/
.category {
	color: #660000;
 font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
 font-weight: bold;
 text-decoration: none;
	}
a.category:link, a.category:visited {
	color: #660000;
 font-weight: bold;
	}
a.category:hover {
	color: #FF7A00;
	}
.poll {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	line-height: 14px	}
.sectiontableentry1 {
	background-color : #FFFFFF;
	}
.contentpane {
	}
	.sectiontableentry2 {
	background-color : #FAFAFA;
	}
.sectiontableheader {
	background-color : #FAFAFA;
	color : #000;
	font-weight : bold;
	border-top-color: #E6E6E6;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom: 1px solid #E6E6E6;
	}
.frontpageheader {
	font-size: 13px;
    color : #949494;
    font-weight : bold;
    }
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
	text-decoration: none;
	font-weight: normal;
	}
.smalldark {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        text-decoration: none;
        font-weight: normal;
        }
.newsfeedheading {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-align:left;
        }
.newsfeeddate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	font-weight: normal;
}
.createdate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
	text-decoration: none;
	font-weight: normal;
	}
.modifydate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #808080;
	text-decoration: none;
	font-weight: normal;
	}
ul {
	margin: 0px 0px 0px 0px;
	}
li {
	margin: 0px;
	list-style-image: none;
}
.latestnewsLatestNews{
padding-bottom:3px;}


.fase4rdf {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
 color: #000000;
 font-weight: normal;
	}
a.fase4rdf:link {
	font-size: 11px;
 font-weight: normal;
 color: #FF9900;
	}
a.fase4rdf:hover {
	font-weight: bold;
 color: #FF7A00;
	}
table.searchintro {
  	background-color: #FFFFFF;
	border: solid 1px #777777;



	}


table.contact {
	background-color: #FFFFFF;
	}
table.contact td.icons {
	}
table.contact td.details {
	font-size: 10px;
		font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #DFDFDF;
	}
.pagenav {
	font-weight: normal;
	color: #515151;
}
a.pagenav, a.pagenav:visited {
	color: #636363;
}
a.pagenav:hover {
	color: #FF7A00;
}
.pagenavbar {

	}
/* Content voting */
.content_rating {
	font-weight: normal;
	font-size: 8pt;
}
.content_vote {
	font-weight: normal;
	font-size: 8pt;
}
/* for modifying {
moscode}
 output.  Don't set the colour! */
.moscode {
	background-color: #f0f0f0;
}
/* Text passed with mosmsg url parameter */
.message {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 10pt;
	color : Black;
	text-align: center;
}
td form {
padding:0px;
margin:4px 0px;
}
	#pageLinks {
margin:0px;
padding:0px;
}
#pageLinks ul li{
display: inline;
list-style-image: none;
}
#pageLinks li{
padding: 0px 10px 0px 0px;
}
#bio, #bio p {
font-size:11px;
padding: 5px;
}
#bio p {
margin: 20px 20px 20px 90px;
padding: 10px;
border-right: 1px solid #E3E3E3;
border-bottom: 1px solid #E3E3E3;
background: #fff;
}
		#bio a:link{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-weight: bold;
}
#bio span.staff{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-weight: bold;
}
#bio img{
border-right: 2px solid #666;
border-bottom: 2px solid #666;
border-left: 1px solid #666;

border-top: 1px solid #000;
margin-left: -90px;
}
		
		.textInset{
font-size: 10px;
 border: 1px solid #660000;
 margin: 5px;
 padding: 10px;
 background:#cccc66;
color: #660000;
 width: 120px;
 float: right;
}
.sectiontableheader {
			font-size:11px;
  color            : #000;
  background       : #cccc66;
  font-weight      : bold;
  padding:2px 5px;
}

.sectiontableentry1 td{
			font-size:11px;

  vertical-align   : top;
  padding          : 4px;
  background       : #F0F0F0;
}


.sectiontableentry2 td{
			font-size:11px;

  vertical-align   : top;
  padding          : 4px;
  background       : #ffffff;
}			
.sectiontableentry2 a, 
.sectiontableentry1 a{
			font-size:11px;

color:#336600;
padding:2px 0px;

}
.mainpagecontent {
padding-top: 10px; 

}			


table.moduletablecsw05Logo {text-align: center;
border: 0px solid #cccc66;


}		

table.moduletableconfMenu  {
width:100%;
margin-top: 10px;
border-top: 1px solid #cccc66;
border-bottom: 1px solid #cccc66;
text-align: left;
padding: 10px 0px;
font-size: 11px;

}		

table.moduletableconfMenu  th{
width:100%; font-size: 12px;

text-align: center;
color: #000;
padding: 5px 0px;

}



.modnavcontent{
	margin: 0px;
padding: 10px 3px;
text-indent:0px;


		
}	

.modnavcontent ul{
display: inline;
	margin: 0px;
padding: 10px 0px;
text-indent:0px;

list-style: inside url(../../../images/M_images/arrow.png);
	list-style-image: none;

		
}		
.modnavcontent li{
display: inline;







	margin: 0px;
padding: 3px 4px;
text-indent:0px;
list-style-type: none;
	list-style-image: none;

		
}	
.modnavcontent-title{
text-align: left;
padding: 10px 0px;
font-weight: bold;

}



modnavcontent-item a	
{margin: 0px;
padding: 4px 4px;



}			

span.required {color: #660000;
font-weight: bold;
font-size: 20px;


}			

.labelCol {font-weight: bold;

}


.regbox {
border: 1px solid #ccc;
padding: 10px; }

#gateway {background: #fff; width: 150px; font-size: 10px; padding: 10px;

}

#gateway option{
padding: 3px; font-size: 11px;

}


#gateway select{
padding: 0px; font-size: 11px;

}

#features td {margin:0; padding: 2px 5px 2px 3px;


}

#features ul, #features li {
margin: 0px;
list-style-type: none;
	list-style-image: none;
padding: 3px 0px;

}

#agenda {
font-family: Arial, Helvetica, sans-serif;
font-size: 80%;
}

#agenda table {
width: 100%;
background: #fff;
margin:0;
padding:0;



}
#agenda tbody tr {
padding:0;
margin:0;
border: 0;

}




#agenda tbody td.strand1{
background:  #1FB714;


}
#agenda tbody td.bof {
background-color: #FF8080;
}

#agenda tbody td.strand2{

background:  #FFFF99;
}

#agenda tbody td.strand3{
background:  #00CCFF;
}
#agenda tbody td.strand4{
background:  #FFCC00;
}

#agenda tbody td.exec{
background:  #F20884;
}

#agenda tbody td.misc{
background:  #6699CC;
}

#agenda tbody td.time{
background: #fff;
white-space: nowrap;
font-weight: bold;
}

#agenda tbody td.break {background: #CCFFFF;
font-weight: bold;
text-align: center;
}

#agenda tbody td.key {background-color: #FFCC33;
}
#agenda tbody td {
vertical-align:top;

margin: 0px;
padding: 0px 2px;
border: 1px inset #666;
}



#agenda p.session{
font-weight: bold;
margin:0;
padding:0;
}

#agenda p.speaker{
text-align: right;
margin:0;
padding:0;
}

#agenda span.location {
text-align: right;
font-size: 9px;
font-style: italic;
}

#agenda tbody td.date {text-align: center; color: #000; font-weight: bold; border: 0px; padding: 3px 0px 5px 0px;}

#sca td {
padding: 10px 5px;

}
#sca td.text{
border-bottom: 1px solid #eee;

}
#sca td.logo a, #sca td.text a{font-size: 11px;

}


#evenrow{background: #eee; border-top:1px solid #ccc; }

#evenrow td, #oddrow td{padding: 3px 5px;}
#oddrow{background: #FAF6EB;  border-top:1px solid #ccc; }
.header {  border:none; font-family: Arial, Helvetica, san serif; color: #fff;}
.number {text-align: left; font-family: Arial, Helvetica, san serif; color:#000;}
.center {text-align: center;}
.nowrap {white-space: nowrap;}
.line_no{color:#FFA333;}
.tableheader{ background:#ccc; font-weight: bold; border:1px solid #660000; color:#fff;}
.tableheader td{background:#ccc; font-weight: bold; border:0px solid #660000; color:#000; padding:5px;}

.latestnewsLatestNews a,
.latestnewsLatestNews a:link,
.latestnewsLatestNews a:visited
{color:#336600;

}
.latestnewsLatestNews a:hover
{color:#006699;

}

.sca_logos {
padding: 0px 5px 5px 10px; float: left; width: 120px; height: 60px; text-align: center; }

#contactUs input, #contactUs select, #contactUs submit, #contactUs textarea {
font-size: 11px;

}