/* ---------------------accounts css--------------------- */

/* Links */
a:link, a:visited {
 color: #336699;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
}
a:hover {
 color: #660000;
 text-decoration: underline;
}

/* for display -AZ */
.info {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10pt;
 background: #FFFFEE;
 padding:.2em;
 border: 2px solid #CCCCCC;
}

.date_message {
 font-size:9pt;
 width:100%;
 text-align:right;
}

.unsaved { 
 background-color: #990000;
 color : #ffffff;
}

.saved { 
 background-color: #009900;
 color : #ffffff;
}

.clear { 
 background-color: transparent;
 color : black;
}

.padded {
 padding:.2em;
}

.error {
 color: #CC0000;
 font-weight:bold;
}

div.error {
 padding: .25em;
 background-color: #ffcccc;
 border: solid 1px #cc0000;
}

.error blockquote {
  margin-left:1em;
  margin-top:.25em;
  margin-bottom:.25em;
  margin-right: 1em;
}

.login {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10pt;
 background: #DDEEFF;
 border: 3px solid #CCCCCC;
}

.loginheader {
 background:#336699;
 font-size:1.1em;
 padding:.2em;
 font-weight:bold;
 color:white;
}

.help {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10pt;
 background: #FFFFAA;
 border: 3px solid #CCCCCC;
 text-align: center;
 padding: 3px;
 margin-top: 6px;
 margin-bottom: 3px;
}

.required {
 font-size:10pt;
 vertical-align:middle;
 margin-top:6px;
}

.pwhelp {
 font-size:.9em;
}

.keytext {
 font-size:8pt;
}

.filter {
 font-size:70%;
}

.colorkey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background: #E1E1E1;
	border: 2px solid #AAAAFF;
	margin-top: 6px;
	margin-bottom: 6px;
}

.colorkeyheader {
	background:#336699;
	font-size:1.1em;
	padding:.2em;
	font-weight:bold;
	color:white;
}

.definitions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background: #AADDFF;
	border: 2px solid #AAAAAA;
	margin-top: 6px;
	margin-bottom: 6px;
}

.defheader {
	background:#336699;
	font-size:1.1em;
	padding:.2em;
	font-weight:bold;
	color:white;
}

.right {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10pt;
 background: #EEFFDD;
 border: 3px solid #CCCCCC;
}

.rightheader {
 background:#339966;
 font-size:1.1em;
 padding:.2em;
 font-weight:bold;
 color:white;
}

.filterarea {
 font-size:10pt;
 background:#ECECEC;
 border:1px solid #ccc;
 padding:3px;
 margin-bottom:10px;
}

.evenrow{
 background: #eee;
}

.oddrow{
 background: #fff;
}

.line {
 font-size:.9em;
 padding-top: .25em;
 padding-bottom: .25em;
 }

/* tag adjustment */
h4 {
 font-family: Arial, Helvetica, sans-serif;
 margin-top: .3em;
 margin-bottom: .2em;
}


/* other */
body {
 background:#fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size:11pt;
}

td.account {
 font-size: 10pt;
}

td.checkbox {
 font-size: 8pt;
}

p {
  font-family: Arial, Helvetica, sans-serif;
 font-size: 90%;
 }


h1 {
  font-family: Arial, Helvetica, sans-serif;
 font-size: 90%;
 }


#evenrow{
background: #eee;
 border-top:1px solid #333;
}


#oddrow{
background: #F8F8EC;
  border-top:1px solid #333;
}


 #oddrow td{
border-top:1px solid #333;
 border-bottom:1px solid #333;
}


.header {
  border:none;
 background-image:  url("../../conferenceDec_04/seppReg/include/seppConfReportlogo.gif");
 background-repeat: no-repeat;
  background-position: left;
 width:auto;
  height:80px;
   padding-left:120px;
 padding-right: 50px;
   font-family: Arial, Helvetica, san serif;
 color: #330033;
}


.number {
text-align: left;
 font-family: Arial, Helvetica, san serif;
 color: #000;
}


.center {
text-align: center;
}


.nowrap {
white-space: nowrap;
}


.line_no{
color:#000;
}


.tableheader{
 color:#993333;
 background:#AAAAAA;
 font-weight: bold;
 border:none;
 padding-top:2px;
}


.comments {
width: 300px;
}

form select{
 font-size:75%;
}

.legend {
 font-size:98%;
font-family: Arial, Helvetica, sans-serif;
 border: 1px solid #ffcc33;
 padding: 0px;
 }


 td .cat{
background:#FFEFBF;
 padding: 1px 3px;
 margin:0px;
}


td .who {
background: #FAF6EB;
 padding: 1px 3px;
 margin:0px;
 text-align:center;
}


 .cat {
color: #000;
font-weight: normal;
}


#data {
font-size: 80%;
}


.report {
font-size: 12px;
 color:#666;
}

