/* ---------------------
changes to vancouver template
for the call for proposals forms
--------------------- */
#cfp table tr td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#rightcol .componentheading {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	display:block;
}


#rightcol .contentheading,
#rightcol .contentpagetitle,
#rightcol a.contentpagetitle:link,

#rightcol a.contentpagetitle:active,
#rightcol a.contentpagetitle:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#397333;
	font-weight: bold;
	padding-top: 10px;
	background-color:inherit;
	display:block;
}


#rightcol{ 
	width: 150px;
	padding: 10px 5px;
	text-align:left;
}

/** small text in content **/
.small {
	color:#000;
	font-size:10px;
	font-weight: normal;
	background-color:inherit;
}

#bottompadding	{
	position:relative;
	width:900px;
	display:block;
	height:0px;
}

#form1 {
	background: #F8F8EC;
	padding:0px 0px;
	margin:0px;
	font-size: 11px;
}

#form1 table tr td {
	text-align:left;
	padding: 20px 10px;
	font-size: 11px;
	color: #000;
	border-bottom:1px solid #D7D793;
}

#form1 td, #form1 td td{
	vertical-align: top;
}

#form1 table tr td div {
	color: #000;
	padding: 0px 0px;
	font-size: 11px;
}

.vote{
text-align:left;
}

.list_header {
	line-height:20px;
	padding:2px 20px;
	background:#ccc;
	width: 80%;
}

.list_row {
	border-bottom:1px solid #ccc;
	padding:2px 20px;
	width: 80%;
}

.audience_type, .topic_type, .topic_type_header{
	text-align:left;
	font-weight: bold;
	display:inline;
}

.vote, .topic_vote_header, .topic_vote{
	text-align:right;
	display:inline;
}

.topic_vote_header span{
font-weight:bold;
text-align:center;
line-height:20px;
}

.topic_vote span, .vote span{
text-align:left;
}

.activestep {
color: #336699;
}

textarea {
font-size: 11px;
}
