/* dark header */
#header {
	position: relative;
	height: 95px;
	overflow: hidden;
	background: #B5AB92;
}



#header img {
padding-left:1px;


}
#access {
	position: absolute;
	z-index: 10000;
	top: 0;
	right: 225px;
	width: 200px;
	height: 20px;
	overflow: hidden;
}

#access #selectors {
	position: relative;
	height: 8px;
	
}

#access span {
	background-repeat: no-repeat;
}

#access a {
	text-decoration: none;
}

.font-selector,
.width-selector {
	display: block;
	position: absolute;
	top: 0;
	width: 12px;
	height: 6px;
}

.f-smaller #selectors .font-selector {
	right: 159px;
}

.f-default #selectors .font-selector {
	right: 129px;
}

.f-larger #selectors .font-selector {
	right: 99px;
}

.w-thin #selectors .width-selector {
	right: 70px;
}

.w-wide #selectors .width-selector {
	right: 40px;
}

.w-fluid #selectors .width-selector {
	right: 10px;
}

#access #buttons {
	float: right;
}

#access .button {
	display: block;
	float: right;
	width: 20px;
	height: 12px;
	margin: 0 5px;	
	background-repeat: no-repeat
}

#logo {
	position: absolute;
	top: 5px;
	left: 20px;
	display: block;
	width:200px;
	height: 90px;
	background: url(../images/logo_shadow.png) no-repeat;
}

#confTitle {
	position: absolute;
	top: 0px;
	left: 185px;
	display: block;
	width:250px;
	height: 66px;
	padding-top:10px;
	color: #000;
	font-size: 14px;
	line-height:23px;

}



#confLogo {
	background: none;
}

#top {
	height: 60px;
	padding-top: 15px;
	overflow: hidden;
	margin-left: 425px;
	margin-bottom: 10px;
	margin-right: 5px;
	color: #999;
}

.font-selector,
.width-selector {
	background: url(../images/access-select.png) no-repeat;
}

.lrg .button {
	background: url(../images/access-lrg.png);
}

.sml .button {
	background: url(../images/access-sml.png);
}

.med .button {
	background: url(../images/access-med.png);
}

.thin .button {
	background: url(../images/access-thin.png);
}

.wide .button {
	background: url(../images/access-wide.png);
}

.fluid .button {
	background: url(../images/access-fluid.png);
}
