/* ---------------------requirements voting form css--------------------- */


#proposals_vote tr td {
	vertical-align:top;
	font-size:11px;
		text-align: left;
		padding: 8px 5px;
	}
	
.button {
	font-size:10px;
	
	}
textarea {
	font-size: 11px;
	
	}
a:link {
font-size: 11px;	
	}	