#toolbar {
	background: #3e475b url(../images/toolbar-bg.png) repeat-x;
	height: 56px;
	padding: 0;
	padding-left: 20px;
	overflow: hidden;
}

#nav {
	margin: 0;
	padding: 0;
	position: relative;
	height: 56px;
	background: url(../images/toolbar-div.png) 0 0 no-repeat;
	padding-left: 2px;
}

#nav ul {
	margin: 0;
	padding: 0;
	float: left;
}

/* hide unsupported 3rd+ levels */
#nav ul ul ul {

	left: -5000px;
}

#nav li {
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	background: url(../images/toolbar-div.png) 100% 0 no-repeat;
}

#nav li li {
	background: url(../images/toolbar-div2.png) 100% 50% no-repeat;
}

#nav li.on a {
	background: url(../images/toolbar-select4.png) 50% 100% no-repeat;
}

#nav li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top:31px;
	height: 20px;
	left: 0;
	width: 5000px;
	background: #3e475b;
}

#nav a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#nav a:hover {
	color: #ccc;
}

#nav li ul a:hover,
#nav li.on ul a:hover {
	color: #ccc;
}

#nav li.on ul {
	display: block;
}

#nav li:hover ul, #nav li.sfhover ul {
	display: block;
	z-index: 6000;
}

#nav li a {
	display: block;
	float: left;
	padding: 0 15px;
	height: 31px;
	line-height: 31px;
}

#nav li:hover a, 
#nav li.over a {

}

#nav li li.on a, 
#nav li li.on:hover a,
#nav li li.over.on a {
 text-decoration: underline;
}

/* sub level links */

#nav ul li {
	border-right: 0;

}



#nav li ul a, #nav li.on ul a {
	display: block;
	float: left;
	color: #adb3bb;
	font-weight: normal;
	padding: 0 10px;
	background: none;
	height: 25px;
	line-height: 25px;
}